@model CRUDUsingMVC.Models.ForgotPwdModel



@{
    Layout = null;
}
<link href="~/Content/ForgotPassword.css" rel="stylesheet" />

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnsubmit').click(function () {
            var serviceURL = '/Account/ForgotPassword';
            var userId = $('#UserNames').val();
            var newPwd = $('#NewPassword').val();
            var cfmPwd = $('#ConfirmPassword').val();
            $.ajax({
                url: serviceURL,
                type: "POST",
                data: { userId: $('#UserNames').val(), newPwd: $('#NewPassword').val(), cfmPwd: $('#ConfirmPassword').val() },
                cache: false,
                async: true,
                success: function (data) {
                    alert(data);
                }
            });
        });
    });
</script>

<!-- partial:index.partial.html -->
<section>
<span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>



<div class="ForgotPassword">
   
        <div class="content">

            <h4>ForgotPassword???</h4>
            <div class="form">

                <div class="inputBox">

                    @Html.DropDownList("UserNames", @ViewBag.UserNames as List<SelectListItem>, "Select UserNames", new { style = "width: 320px;height:40px;" })
                </div>



                <div class="inputBox">
                    @Html.PasswordFor(m => m.NewPassword, new { placeholder = "NewPassword" })
                </div>


                <div class="inputBox">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "ConfirmPassword" })

                </div>

                <div class="inputBox">
                    <input type="button" id="btnsubmit" value="Send My Password" class="btn btn-default" />
                </div>
            </div>

        </div>
    
    </div>
    
    @*<div>
          @Html.ActionLink("Back to List", "Index")
        </div>*@

</section>